<h3><a href="#"> Auditor&iacute;a </a></h3>
<div>
		<a href="/auditoria/crear"> Crear </a> <br />
		<a href="/auditoria/reporte"> Listar </a> <br />
</div>
<h3><a href="#"> Araña </a></h3>
<div>
		<a href="/spider/iniciar"> Iniciar </a> <br />
</div>
