<div id="wizard-reporte">

<table class="dataTable tabla_reporte" id="tabla_reporte"> 
	<thead>
		<tr>
		<th class="ui-state-default"> Id </th>
		<th class="ui-state-default"> Institución </th>
		<th class="ui-state-default"> Portal </th>
		<th class="ui-state-default"> Estado </th>
		<th class="ui-state-default"> Fecha de Creación </th>
		<th class="ui-state-default"> Entidad Verificadora </th>
		<th class="ui-state-default"> Disposiciones Aprobadas </th>
		<th class="ui-state-default"> Disposiciones Falladas </th>
		<th class="ui-state-default"> Indice de Cumplimiento </th>
		<th class="ui-state-default"> Reporte </th>
		</tr>
	</thead>
	<tbody>
		[% FOREACH auditoria IN auditorias %]
			<tr> 
				<td> [% auditoria.id %] </td>
				<td> [% auditoria.institucion %] </td>
				<td> [% auditoria.portal %]</td>
				<td> [% auditoria.estado %]</td>
				<td> [% auditoria.fecha %]</td>
				<td> [% auditoria.entidad %]</td>
				<td> [% auditoria.pass %]</td>
				<td> [% auditoria.fail %]</td>
				<td> [% auditoria.indice %] &#37; </td>
				<td> 
					<a href="/reportes/pdf/[% auditoria.id %]"> PDF </a> 
					<br />
					<a href="/reportes/auditoria/[% auditoria.id %]"> HTML </a> 
				</td>
			</tr>
		[% END %]
	</tbody>
</table>

</div>
<div>
<p>
<button id="print"> Vista de Impresión </button>
<button id="printOut"> Salir de la vista de impresión </button>
</p>
</div>

<div>
<p>
<a href="/reportes"> Regresar </a>
</p>
</div>
