<p>
    <img src="/static/images/valid-xhtml10.png" alt="Documento válido XHTML 1.0 Strict" height="31" width="88" />
</p>


<p>
    <img src="/static/images/vcss-blue.png" alt="¡CSS Válido!" />
</p>
