/* 
Archivo: 	master.css
Autor: 		Walter Vargas <walter@covetel.com.ve>
Descripción:  	Hoja de estilo principal, desde aqui importo otras hojas de estilo necesarias. 
*/
@import "tipografia.css"; 
@import "layout.css";
@import "cintillo.css";
@import "informacion_sesion.css";
@import "formularios.css";
@import "tablas.css";
/*@import "css3.css"; */

@import "dataTable/dt_page.css";
@import "dataTable/dt_table.css";
@import "dataTable/dt_table_jui.css";
