/* 
Archivo:        tablas.css
Autor:          Walter Vargas <walter@covetel.com.ve>, Juan Mesa <juan@covetel.com.ve>
Descripción:    Estilo para los controles tipo tablas.
*/

div#progreso {
background-color: #FFFFCE;
font-size: 0.7em;
height: 100px;
}

div.spider_id {
background-color: #FFFFCE;
font-size: 0.7em;
height: 200px;
}

div#barra_progreso {
height: 1em;
}

ul.urls_spider li {
 display: block;
 margin: 0px; 
 padding: 1px;
}

ul.urls_spider {
 padding: 5px;
 height: 170px;
 overflow: auto;
}

ul.urls li {
 display: block;
 margin: 0px; 
 padding: 1px;
}

ul.urls {
 padding: 5px;
 height: 70px;
 overflow: auto;
}

ol.disposiciones {
 list-style-type: upper-roman;
}

ol.disposiciones li {
 display: block;
}

table {
 width: 100%;
}

pre { margin: 0; padding: 0;}

label {vertical-align: middle;}

table td {
 padding: 2px;
 margin: 2px;
}

table.dataTable {
 font-size: 0.8em;
}

div.tabla {
height: 500px;
margin: -20px;
margin-bottom: -5px;
}

th {
font-size: 0.8em;
padding: 5px;
}

table.dataTable th {
cursor: pointer;
}

td.tEliminar {
    width: 20px;
}

tr.even.row_selected td {
    background-color: #9FAFD1;
}

tr.odd.row_selected td {
    background-color: #9FAFD1;
}

.field_disabled {
	background-color: #FFCACA;
	color: #4D4D4D;
	font-size: 0.8em;
}

table.tabla_reporte {
	font-size: 0.9em;
	text-align: center;
	border: 1px solid #eee;
}

button#printOut{
 display: none;
}

table.lista_disposiciones {
 border: 1px solid #eee;
}

table.lista_disposiciones tr {
 border: 1px solid #eee;
}

table.lista_disposiciones td {
 border: 1px solid #eee;
}

table.lista_disposiciones td.disp_name {
 border: 1px solid #eee;
 color: #D01313;
 font-weight: bold;
 text-align: center;
}
