/* 
Archivo:        tablas.css
Autor:          Walter Vargas <walter@covetel.com.ve>, Juan Mesa <juan@covetel.com.ve>
Descripción:    Estilo para los controles tipo tablas.
*/

table.dataTable {

}

div.tabla {
height: 500px;
margin: -20px;
margin-bottom: -5px;
}

th {
font-size: 0.8em;
padding: 5px;
}

table.dataTable th {
cursor: pointer;
}

td.tEliminar {
    width: 20px;
}

tr.even.row_selected td {
    background-color: #9FAFD1;
}

tr.odd.row_selected td {
    background-color: #9FAFD1;
}
