<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="../css/tipografia.css" type="text/css" media="screen" charset="utf-8" />
	<title>Tipografia</title>
</head>
<body>
<h1 id="Titulo1">Titulo 1</h1>
<h2 id="Titulo2">Titulo 2</h2>
<h3 id="Titulo3">Titulo 3</h3>
<h4 id="Titulo4">Titulo 4</h4>
<p>
<a href="http://www.covetel.com.ve">Covetel Rs.</a>
</p>
<p>
<i> Texto Informativo </i>
</p>
<p>
<label for="Etiqueta">Etiqueta: </label><input type="text" name="Etiqueta" value="" id="Etiqueta" />
</p>
</body>
</html>
